## Copyright (C) 2010 Marius Hofert and Martin Maechler
##
## This program is free software; you can redistribute it and/or modify it under
## the terms of the GNU General Public License as published by the Free Software
## Foundation; either version 3 of the License, or (at your option) any later
## version.
##
## This program is distributed in the hope that it will be useful, but WITHOUT
## ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
## FOR A PARTICULAR PURPOSE. See the GNU General Public License for more
## details.
##
## You should have received a copy of the GNU General Public License along with
## this program; if not, see <http://www.gnu.org/licenses/>.

useDynLib(nacopula, .registration=TRUE)

importFrom("gsl", debye_1)

exportClasses("acopula",
              "nacopula", "outer_nacopula",
              "interval", "maybeInterval"
              )

## Generics, functions and acopula - family objects defined in this package
export("copAMH", "copClayton", "copFrank", "copGumbel", "copJoe"
       ,"getAcop"
       ,"pnacopula", "rnacopula" ,"rnchild"
       ,"onacopula", "onacopulaL"
       ,"printNacopula"
       ,"interval"
       ,"opower"
       ,"prob"
       ## Should we provide these in a separate (very small) R package ?
       ,"sinc", "A..Z"
       ,"rstable1"
       ,"retstable", "retstableR"
       ,"rFJoe", "rFJoeR", "rFFrank", "rFFrankR", "rlog", "rlogR"
       ,"setTheta"
       ,"tauAMH"
       ,"allComp" # <- maybe keep private ?
       ,"safeUroot"
       ,"splom2"
       )

exportMethods(## for both own and "other" generics:
	      "prob",
	      "%in%", "dim",
	      "format", "show"
	      )

